@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    height: 100%;
    display: block;
    background-color: white;
    background-size: cover;
}

a {
    color: inherit;
    cursor: pointer; 
}

hr {
    border: 0;
    clear: both;
    display: block;
    height: 1px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.global-light-theme-scrollbar div::-webkit-scrollbar,
body::-webkit-scrollbar{
    width: 7px;
    /* kaydırma çubuğunun genişliği */
}

.global-light-theme-scrollbar div::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    /* kaydırma çubuğunun rengi */
    border-radius: 10px;
    /* kaydırma çubuğunun köşe yarıçapı */
}


.global-light-theme-scrollbar div::-webkit-scrollbar-track {
    background-color: #8c8c8c;
    /* kaydırma çubuğunun arka plan rengi */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
