.form {
    display: flex;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    gap: 15px;
}
.area{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profileImage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
}
.profileImage input{
    padding: 45px 15px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}