<footer>
    <div class="footer-nav">
      <div class="footer-section">
        <h3>Hakkımızda</h3>
        <ul>
          <li><a href="#">Misyonumuz</a></li>
          <li><a href="#">Vizyonumuz</a></li>
          <li><a href="#">Hikayemiz</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Yardım</h3>
        <ul>
          <li><a href="#">Sık Sorulan Sorular</a></li>
          <li><a href="#">İşlem Rehberi</a></li>
          <li><a href="#">E-posta Listemize Katılın</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>İletişim</h3>
        <ul>
          <li><a href="#">Adresimiz</a></li>
          <li><a href="#">Telefon Numaramız</a></li>
          <li><a href="#">E-posta Adresimiz</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info">
      <ul>
        <li><a href="#">Kullanım Koşulları</a></li>
        <li><a href="#">Gizlilik Politikası</a></li>
        <li><a href="#">İade ve Değişim</a></li>
        <li><a href="#">Müşteri Hizmetleri</a></li>
        <li><a href="#">Sosyal Medya Hesaplarımız</a></li>
      </ul>
      <p>© 2023 Meeting Hub</p>
    </div>
  </footer>