<div class="global-container-v1">
    <div class="main-layout">
        <div class="app-header-container">
            <app-header></app-header>
        </div>
        <div class="header-band">
            <div class="band"></div>
        </div>
        <div class="main-container">
            <div class="main-page-container">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="app-footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>